# PUBLIC
NEXT_PUBLIC_SITE_URL=https://samarahomes.co.ke

# SMTP (Gmail App Password)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_REQUIRE_TLS=true
SMTP_USER=
SMTP_PASS=
SMTP_FROM_NAME=Samara H&H
SMTP_FROM_EMAIL=

# App config
ADMIN_EMAIL=

# Decap OAuth (GitHub)
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
